h1, p, button, footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, footer {
    text-align: center; 
}

section {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

h1, footer {
    margin: 40px 0;
}

/* Flexbox */

.flex-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    min-height: 60px;
    align-items: stretch;
}

.flex-size-1 {
    flex: 1 1 40px;
}

.flex-size-2 {
    flex: 2 2 90px;
}

/* Calculator display and buttons */

.display, button {
    border: 1px solid;
    font-size: 20px;
    border-radius: 10px;
}

.display > p {
    margin: 0;
    padding: 6px 12px;
    text-align: end;
}

button:active {
    border: 2px solid;
    font-size: 19px;
}

/* Colours */

body {
    background-color: rgb(240, 240, 240);
}

section {
    background-color: rgb(0, 96, 120);
}

.display {
    background-color: rgb(245, 255, 255);
    border-color: rgb(0, 195, 221);
    margin-bottom: 20px;
}

.blueBtn, .blueBtn:active {
    background-color: rgb(200, 255, 255);
    border-color: rgb(64, 234, 234);
}

.greenBtn, .greenBtn:active {
    background-color: rgb(217, 255, 214);
    border-color: rgb(88, 230, 73);
}

.orangeBtn, .orangeBtn:active {
    background-color: rgb(255, 239, 200);
    border-color: rgb(241, 173, 0);
}
